<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style=" display: flex; justify-content: center; font-family: Verdana, Geneva, Tahoma, sans-serif; width:min-content; height: 100px; margin-left: 30%; ">
    
     <form>
        <label for ="fname">Name</label>
        <input type="text"name="fname"value="" placeholder="Enter your Name">
        <br>
        <label for ="fname">contact</label>
        <input type="text"name="fcontact"value="" placeholder="Enter your contact">
        <br>
        <label for ="fname">Email</label>
        <input type="text"name="fname"value="" placeholder="Enter your Email">
        <br>
        <label for ="fname">city</label>
        <input type="text"name="fname"value="" placeholder="Enter your Name">
        <br>
        <button style=" width: 90px; height: 50px;">submit</button>
     </form>
     
      
    </div>
</body>
</html>